* {
    outline: none !important;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .main-content {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  
  .card {
    overflow: visible;
  }
  
  